.company-reviews-page-container {
  padding: 20px;
}

.company-reviews-search-container {
  width: 100%;
}

.company-reviews-search {
  width: 80%;
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 4px;
}

.company-reviews-search-container button {
  height: 60px;
}

.company-reviews-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.company-reviews-item {
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}

.reviews-container {
  display: flex;
}

.star1-container {
  display: flex;
  color: rgb(126, 38, 53);
}

.star2-container {
  display: flex;
  color: rgb(251, 195, 204);
}

.star1 {
  width: 25px;
  height: 25px;
}

.star2 {
  width: 25px;
  height: 25px;
}

.rating-system {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 246, 220);
  margin-top: 50px;
  padding: 10px;
}

.rating-system div {
  margin-bottom: 20px;
}

.star-rating {
  display: inline-block;
}

.star {
  font-size: 2rem;
  color: lightgray;
  cursor: pointer;
  transition: color 0.2s;
}

.star.selected {
  color: gold;
}

@media (min-width: 800px) {
  .company-reviews-page-container {
    padding: 50px 100px 100px 100px;
  }
  .rating-system {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .company-reviews-page-container {
    padding: 60px 120px 120px 120px;
  }
}
