.addjob-page-bg-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(226, 226, 226);
  width: 80%;
  padding: 10px;
  margin-top: 20px;
}

.form-sub-container {
  display: flex;
  flex-direction: column;
}

.form-sub-container div {
  width: 100%;
}

input {
  border: 2px solid rgb(226, 226, 226);
  margin-bottom: 20px;
  height: 60px;
  font-weight: bold;
  padding-left: 10px;
}
